//colors
$color-blue-dark: rgb(31, 59, 104);
$color-blue-darker: rgb(24, 46, 87);
$color-very-faded-blue: rgb(240, 246, 251);
$color-red: rgb(255, 81, 102);
$color-light-gray: rgb(239, 244, 248);
$color-mid-gray: rgb(147, 160, 181);
$color-gray-faded: rgb(147, 159, 181);
$color-gray-border: rgba(91, 110, 145, 0.6);
$color-green: rgb(1, 229, 175);
$color-blue: rgb(75, 170, 226);
$color-blackish: rgb(44, 52, 44);
$color-gold: rgb(238, 200, 119);
$color-orange: rgb(255, 143, 18);
$color-banner-blue: rgb(28, 91, 196);
$color-neon-green: rgb(0, 228, 174);
$color-white: #fff;
$color-whitish-bg: rgb(239, 246, 251);
$color-btn-blue: rgb(66, 127, 248);
$color-btn-blue-dark: rgb(40, 78, 148);
$color-very-faded-black: rgba(0, 0, 0, 0.2);
//gradients
$gradient-gold: linear-gradient(0deg, rgb(246, 208, 127) 0%, rgb(186, 148, 72) 42%, rgb(216, 180, 100) 100%);

